/* common Shared styles  */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Work Sans", sans-serif;
}
/* logo related style  */
.logo {
  display: flex;
  width: 86.041px;
  height: 40px;
  margin: 20px;
}
.section-title-2 {
  text-align: right;
  font-size: 48px;
  font-weight: 700;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 24px;
}
.section-description {
  color: #534c64;
  text-align: right;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin-bottom: 50px;
  width: 520px;
}
.btn-primary {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-flex;
  padding: 21px 40px;
  gap: 10px;
  border-radius: 48px;
  background: #ff42a5;
  border: none;
}
/* nav style  */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  max-width: auto;
  margin: 0 240px;
  position: relative;
}

nav > ul {
  display: flex;
  color: #3c354f;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
}
nav li {
  list-style: none;
  margin: 30px;
  gap: 30px;
}
nav a {
  text-decoration: none;
}

.section-title {
  text-align: center;
  font-size: 2.8rem;
  font-weight: 700;
  color: #0b0223;
}
.section-title a {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.logo-section {
  font-size: 2.8rem;
  font-weight: 700;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* banner realted style  */
.banner {
  display: flex;
  justify-content: space-between;
  gap: 170px;
  width: 1920px;
  margin: 50px 240px;
  background-color: #fff;
}

.banner-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-section img {
  height: 500px;
}

.banner-content-title {
  color: #0b0223;
  text-align: center;
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
}
.banner-container {
  justify-content: center;
}
.banner-heading {
  text-align: center;
  font-size: 95px;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner > ul {
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
  margin-top: 24px;
  margin-bottom: 50px;
}

.banner li {
  margin-bottom: 1rem;
}

/* middle section style  */
.middle-section {
}

.middle-section-container {
  display: flex;
  margin: 55px 240px;
  width: 1920px;
}

.middle-section-container img {
  height: 500px;
}

.middle-section-content .btn-primary {
}
.middle-section-footer {
  color: #534c64;
  text-align: right;
  font-size: 24px;
  font-weight: 500;
  line-height: 45px; /* 187.5% */
  margin-top: 45px;
}
.middle-section-footer-span {
  color: #534c64;
  font-size: 32px;
  font-weight: 700;
  line-height: 45px;
}

/* online gaming Section container  */
.online-game {
  width: 1920px;
  margin-top: 100px;
}
.online-game-title {
  color: #0b0223;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 10px;
}

.online-game-box-container {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.online-game-content .section-description-2 {
  color: #534c64;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin-bottom: 50px;
}

.box img {
  border-radius: 16px;
}
.box .section-description-3 {
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  width: 342px;
}
.box:hover {
  transform: scale(1.25);
}

/* last part styles  */
.last-section {
  width: 1920px;
  margin-top: 120px;
}

.last-container-content {
  display: flex;
  background: #fff;
  justify-content: space-around;
  margin: 50px 240px;
}

.section-title-2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 60px; /* 125% */
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 426px;
}
.section-description-4 {
  color: #534c64;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  width: 483px;
}
.last-section-span {
  color: #0b0223;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
}
.last-sec-img {
  position: absolute;
  margin-top: 300px;
}

/* career section style  */
.career {
  width: 1920px;
  height: 821px;
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  padding-top: 120px 240px;
}
.career-container {
  display: flex;
}
.career-content {
  padding: 120px 240px;
}

.career-title {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px; /* 125% */
  margin-bottom: 20px;
}

.career-content .section-description-3 {
  color: #fff;
  width: 680px;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin-bottom: 32px;
}
.box-2 {
  display: flex;
  margin-bottom: 41px;
  gap: 100px;
}
.box-description {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: 40px; /* 200% */
}

.btn-3 {
  display: inline-flex;
  padding: 21px 40px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 48px;
  background: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  /* background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  border: none;
}
.career-image {
  width: 1013px;
  height: 821px;
}

/* bottom section style  */
.bottom {
  width: 1920px;
  height: 427px;

  justify-content: center;
  background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.bottom-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  padding: 120px 240px;
}
.box2 {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 248px;
  height: 80px;
  border: 0.5px solid salmon;
  justify-content: center;
  border-radius: 50px;
}
.box2:hover {
  border-radius: 50px;
  background: white;
  width: 317px;
  height: 80px;
  border: 1px solid gray;
  align-items: center;
  justify-content: center;
  transition: 0.5s ;
  transform: scale(1.25);
  cursor: pointer;
}
/* footer section style  */
footer{
  width: 1920px;
height: 636px;
background: #0B0223;
}

/* Responsive  */

/* responsive for mobile section  */
@media screen and (max-width: 576px) {
}
